---
import { Trans } from "astro-i18next/components";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/default.astro";
import { t } from "i18next";
import { localizePath } from "../utils/localizePath";

// Detectar el idioma actual de la URL
const pathParts = Astro.url.pathname.split("/").filter(Boolean);
const currentLocale = pathParts[0] === "it" ? "it" : "en";
---

<Layout>
  <Header>
    <Fragment slot="button">
      <a
        href={localizePath("/#form-container", currentLocale)}
        id="link-button-demo"
        class="link-btn">{t("button.demo")}</a
      >
    </Fragment>
  </Header>
  <div class="wrapper-cookie-policy">
    <div class="wrapper">
      <div class="cookie-content">
        <div class="cookie-content-header">
          <div>
            <a
              class="link-btn"
              id="link-btn-back"
              href={localizePath("/", currentLocale)}
              aria-label={t("cookie:cookie-back")}
            >
              <span><i class="pi pi-arrow-left" aria-hidden="true"></i></span>
            </a><span>{t("cookie:cookie-back")}</span>
          </div>
          <h1>{t("cookie:cookie-header")}</h1>
        </div>
        <div>
          <script
            id="CookieDeclaration"
            src="https://consent.cookiebot.com/14aa0834-c3f3-4bc0-98bf-3895513d9ee6/cd.js"
            type="text/javascript"
            async></script>
        </div>
      </div>
    </div>
    <Footer />
  </div>

  <style>
    .cookie-content-header {
      padding-block: 40px;
      display: flex;
      flex-flow: column;
      gap: 18px;
    }
    .wrapper-cookie-policy {
      background: linear-gradient(
        180deg,
        rgba(98, 186, 243, 0) 35%,
        rgba(98, 186, 243, 0.1) 50%,
        rgba(98, 186, 243, 0) 85%,
        rgba(98, 186, 243, 0) 88%,
        rgba(98, 186, 243, 0.08) 93.3%,
        rgba(98, 186, 243, 0) 100%
      );
      min-height: calc(100vh - 88px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .link-btn {
      appearance: none;
      height: 40px;
      display: inline-flex;
      border-radius: 6px;
      padding-block: 10px;
      padding-inline: 16px;
      font-size: 14px;
      font-weight: 400;
      margin-right: 10px;
      transition: all 0.3s ease-out;
    }
    #link-btn-back {
      border: 1px solid rgb(var(--highlight));
      color: rgb(var(--highlight));
    }

    .link-btn:hover {
      cursor: pointer;
      background-color: #75c9ff;
      scale: 1.05;
      box-shadow: 0 0 40px 9px #2a4556; /* inner white */
    }
    #link-btn-back:hover {
      color: white;
    }
    #link-button-demo {
      background-color: rgb(var(--highlight));
      color: #1d1e27;
    }
  </style></Layout
>
