---
import Logo from "../assets/logo_salazar.svg";
import { t } from "i18next";
---

<footer class="footer">
  <div class="wrapper">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <div class="logo">
          <Logo height={32} width={130} aria-label="Salazar Logo" />
        </div>
        <p>{t("footer.payoff")}</p>
      </div>
      <div class="footer-policy">
        <div>
          <a class="link" href="https://www.sorint.com">{t("footer.aboutUs")}</a
          >
        </div>
        <div>
          <a class="link" href="/policy/">{t("footer.privacy")}</a>
        </div>
        <div>
          <a class="link" href="/cookie/">{t("footer.cookie")}</a>
        </div>
      </div>
      <div class="footer-copyright">
        <span>{t("footer.followUs")}</span>
        <a
          class="link"
          href="https://www.linkedin.com/company/sorint-lab/mycompany/"
          target="_blank"
          rel="noopener noreferrer"><span class="pi pi-linkedin"></span></a
        >

        <a
          class="link"
          href="https://www.instagram.com/sorintlab/"
          target="_blank"
          rel="noopener noreferrer"><span class="pi pi-instagram"></span></a
        >
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    margin-top: 80px;
    background: linear-gradient(
      0deg,
      rgba(98, 186, 243, 0.4) 0%,
      rgba(98, 186, 243, 0) 90%
    );
    background: radial-gradient(
      69.19% 49.67% at 49.97% 120.78%,
      rgba(98, 186, 243, 0.4) 0%,
      rgba(37, 63, 80, 0) 100%
    );
    padding-block: 40px;
    z-index: 2;
  }

  .footer-wrapper {
    display: flex;
    flex-flow: column;
    gap: 40px;
  }

  .footer-logo {
    max-width: 274px;
    text-align: left;
  }

  .footer-logo > p {
    font-size: 14px;
    line-height: 18.23px;
  }

  .footer-policy {
    display: flex;
    gap: 40px;
  }

  .footer-copyright {
    width: 274px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .footer-copyright .pi {
    font-size: 14px;
  }

  .link {
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {
    .footer-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "logo logo"
        "policy copyright";
      gap: 40px;
      align-items: center;
    }

    .footer-logo {
      grid-area: logo;
      max-width: 100%;
    }

    .footer-copyright {
      grid-area: copyright;
      justify-self: end;
      justify-content: end;
    }
  }

  @media screen and (min-width: 1440px) {
    .footer-wrapper {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }

    .footer-logo {
      width: 274px;
      max-width: none;
    }

    .footer-policy {
      flex-flow: row;
      gap: 40px;
    }

    .footer-copyright {
      width: 274px;
      justify-content: end;
    }
  }
</style>
