---
import { t } from 'i18next'
import Logo from '../assets/logo_salazar.svg';
---

<header class="header">
    <div class="header-top">
      <div class="logo">
        <Logo height={32} width={130}/>
      </div>
      <p class="header-text">{t('header.text')}</p>
      <slot name="button" />
    </div>
</header>

<style>
  header {
    position: sticky;
    max-width: 1280px;
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    height: 88px;
    display: flex;
    border-radius: 24px;
    padding: 0 24px;
    isolation: isolate;
  }

  header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(11, 11, 11, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 24px;
    z-index: -1;
  }

  .header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .header-text {
    display: none;
  }

  @media screen and (min-width:768px){
    .header-text{
      display: block;
    }
  }
</style>