---
import { Trans } from "astro-i18next/components";
import Button from "./Button.astro";
import { t } from "i18next";
---

<div class="section-hero">
  <div class="wrapper">
    <div class="hero-content">
      <h1>{t("section.hero.header")}</h1>
      <h2>{t("section.hero.subheader")}</h2>
      <!-- <p>
        <Trans i18nKey="section.hero.paragraph">
          <span></span><span></span>
        </Trans>
      </p> -->
    </div>
    <div class="hero-image-wrapper">
      <div class="hero-image">
        <img
          src="/images/img_Hero_MockScreens2x_202509-min.png"
          alt={t("section.hero.alt-text")}
        />
      </div>
    </div>
  </div>
</div>

<style>
  .section-hero {
    margin: auto;
    display: flex;
    flex-flow: column;
    gap: 40px;
    margin-block: 40px;
    text-align: center;
  }
  .hero-content {
    display: flex;
    flex-flow: column;
    gap: 16px;
  }

  h2 {
    font-size: 28px;
    line-height: 31px;
  }

  p > span {
    font-weight: 700;
  }

  .hero-content,
  .hero-image-wrapper {
    margin: auto;
    margin-top: 40px;
    text-align: center;
  }
  .hero-image-wrapper {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .hero-image {
    padding-inline: 12px;
  }

  p {
    white-space: break-spaces;
  }

  @media screen and (min-width: 1440px) {
    .hero-image-wrapper {
      padding-inline: 107px;
    }
  }
</style>
