---
import {t} from 'i18next'
---

<div class="wrapper-section-form" id="form-container">
  <div class="wrapper">
    <div class="section-form-content">
      <h2>{t('section.form.header')}</h2>
      <p>{t('section.form.paragraph')}</p>
    </div>
    <div class="hubspot-form">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
      <script defer>
        hbspt.forms.create({
          portalId: "5900025",
          formId: "9f4b24bf-90d1-49b5-b4e0-df64bde5c314",
          region: "na1"
        });
      </script>
    </div>
  </div>
</div>

<style>
  
  .wrapper-section-form{
    padding-block: 40px;
    text-align: center;
  }
  .section-form-content{
    max-width: 680px;
    margin: auto;
  }
  .section-form-content{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    white-space: break-spaces;
  }
  .hubspot-form{
    display: flex;
    justify-content: center;
  }
  h2{
    margin-bottom: 8px;
    color: rgb(var(--highlight))
  }

  </style>
  <style is:global>
    .hbspt-form{
      width: 100%;
    }
    
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314{
      margin: auto;
      max-width:680px; 
      text-align: left ;
      display: flex;
      flex-flow: column;
      gap:20px;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 [class*="form-columns"]{
      max-width: none;
      display: flex;
      gap:20px;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-form-field{
      float: none;
      width: 100%;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-form-field label{
      display: block;
      margin-bottom: 6px;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .input,
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-input{
      width: 100%;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-error-msg{
      margin-top: 6px;
      color:rgb(238, 134, 135)
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 [class*="form-columns"]:nth-child(5){
      margin-top: -20px;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-input.hs-fieldtype-textarea{
      height: 100px;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-input[type="checkbox"]{
      width: fit-content;
      position: relative;
      opacity: 1;
      cursor: pointer;
      height: 24px;
      width: 24px;
      margin: 0;
    }


    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-input[type="checkbox"]:checked::after{
      content: "";
      display: block;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 3px;
      left: 8px;
    }

    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 [class*="form-columns"]:nth-last-child(n)>.hs-richtext>span{
      color: rgb(var(--highlight)) !important
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-form-field label.hs-form-booleancheckbox-display{
      display: flex;
      margin-bottom: 0;
      max-width: 600px;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-form-field label.hs-form-booleancheckbox-display>span{
      margin-left: 10px;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs-form-field label.hs-form-booleancheckbox-display>span>a{
      color: rgb(var(--highlight));
      text-decoration: underline;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs_submit{
      text-align: center;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs_submit .hs-button{
      appearance: none;
      height: 40px;
      background-color: rgb(var(--highlight));
      border:none;
      border-radius: 6px;
      padding-block:10px;
      padding-inline:16px;
      font-size: 14px;
      font-weight: 400;
      color: #1D1E27;
      transition: all 350ms;
    }
    #hsForm_9f4b24bf-90d1-49b5-b4e0-df64bde5c314 .hs_submit .hs-button:hover{
      cursor: pointer;
      background-color: #75c9ff;
      scale: 1.05;
      box-shadow:0 0 40px 9px #2a4556  /* inner white */
    }

</style>