---
import { t } from "i18next";
---

<div class="wrapper-section-presentation">
  <div class="wrapper">
    <div class="section-presentation-content">
      <h2>{t("section.presentation.header")}</h2>
      <h3 class="presentation-subtitle">{t("section.presentation.subheader")}</h3>
    </div>
  </div>
</div>

<style>
  .wrapper-section-presentation {
    margin: auto;
    text-align: center;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-presentation-content {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  .presentation-subtitle {
    font-weight: 700;
  }
  
  h2 {
    color: rgb(var(--highlight));
  }

  @media screen and (max-width: 768px) {
    .wrapper-section-presentation {
      min-height: 100vh;
    }
  }
</style>
